
<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <title> Homepage </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{%static 'authentication/assets/css/main.css' %}" />
</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            {% if user.is_authenticated %}
            <header id="header">
                <a href="/homepage">Hello <strong> {{first_name}} {{last_name}}!</strong></a>
                <a href="/homepage">Your Admission number is <strong> {{adm_no}}!</strong></a>
                {% else %}
                {% endif %}
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
                </ul>
            </header>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>Message:</strong> {{ message }}

            </div>
            {% endfor %}
            <!-- Banner -->
            <section id="banner">
                <div class="content">
                    <header>
                        <h1>Career Guidance System for Students</h1>
                        <p>The Career Guidance System for Students is a State Corporation service by the Government of Kenya established under the Universities Act, 2012 to coordinate the placement of Government-sponsored students to universities and colleges, among other functions.</p>
                    </header>
                    <p></p>
                    <ul class="actions">
                        <li><a href="#" class="button big">Learn More</a></li>
                    </ul>
                </div>
                <span class="image object">
										<img src="{%static 'authentication/images/student1.jpg' %}" alt="" />
									</span>
            </section>

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>What is available to you</h2>
                </header>
                <div class="features">
                    <article>
                        <span class="icon fa-gem"></span>
                        <div class="content">
                            <h3>Premium insight!</h3>
                            <p>Get placed into your most qualified courses based on your current marks</p>
                        </div>
                    </article>
                    <article>
                        <span class="icon solid fa-paper-plane"></span>
                        <div class="content">
                            <h3>Make informed decisions!</h3>
                            <p>Get adequate descriptions of courses offered in Kenya to get a clear understanding of your career choice</p>
                        </div>
                    </article>
                    <article>
                        <span class="icon solid fa-rocket"></span>
                        <div class="content">
                            <h3>Ride the wave!</h3>
                            <p>Get ahead by receiving additional news and articles from renown sources all in one place</p>
                        </div>
                    </article>
                    <article>
                        <span class="icon solid fa-signal"></span>
                        <div class="content">
                            <h3>Get on top</h3>
                            <p>Dont wait! Get an idea of what your career path will look like in the coming years.</p>
                        </div>
                    </article>
                </div>
            </section>

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Top courses offered in Kenya today!</h2>
                </header>
                <div class="posts">
                    <article>
                        <a href="#" class="image"><img src="{%static 'authentication/images/agriculture.jpg' %}" alt="" /></a>
                        <h3>Bachelor of Science in Agriculture and Biotechnology</h3>
                        <p>Students acquire biological knowledge and skills for scientific challenges associated with environmental agriculture and medical problems in the society.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Read More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="{%static 'authentication/images/tech.jpg' %}" alt="" /></a>
                        <h3>Bachelor of science in Telecommunication and Information Engineering</h3>
                        <p>The Bachelor of Science degree in telecommunications and information engineering is a five-year programme that aims to provide students with sound theoretical and practical training in telecommunications and information technology.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="{%static 'authentication/images/child.jpg' %}" alt="" /></a>
                        <h3>Bachelor of Early Childhood Dev. Education</h3>
                        <p>Working in Public and Private Early Childhood Development programmes, Teacher training college, Primary Schools, Ministry of Education, NGOs, Children homes, Orphanages etc.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="{%static 'authentication/images/art.jpg' %}" alt="" /></a>
                        <h3>Bachelor of Education(ARTS)</h3>
                        <p>Teaching in Public and Private Secondary Schools, Colleges, Primary Schools, Ministry of Education etc.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">More</a></li>
                        </ul>
                    </article>

                </div>
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">



            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="/homepage">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Sign up</a></li>
                    <li><a href="/pick_career">Career Placement</a></li>
                    <li><a href="/signout">Sign out</a></li>
                </ul>
            </nav>

            <!-- Section -->

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Get in touch</h2>
                </header>
                <p>We are a very small team and your support will be very much appreciated.Send us your feedback</p>
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="#">cbc.system@app</a></li>
                    <li class="icon solid fa-phone">(254) 71479990</li>
                    <li class="icon solid fa-home">Haile Selassie Avenue, Nairobi CBD<br />
                        TN 00000-0000</li>
                </ul>
            </section>

            <!-- Footer -->


        </div>
    </div>

</div>

<!-- Scripts -->
<script src="{%static 'authentication/assets/js/jquery.min.js' %}"></script>
<script src="{%static 'authentication/assets/js/browser.min.js' %}"></script>
<script src="{%static 'authentication/assets/js/breakpoints.min.js' %}"></script>
<script src="{%static 'authentication/assets/js/util.js' %}"></script>
<script src="{%static 'authentication/assets/js/main.js' %}"></script>

</body>
</html>